@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
nav{
    position: sticky;
    top: 0;
    align-items: center;
}
h3{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
.main-s{
    background-color: rgb(255, 255, 255);
    align-items: center;        
}
.main-l {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    align-items: center;        
    

}
.logopad{
    padding-left: 15vw;
}
.logo {
    height: 7.5vh;
}

.space {
    margin: 50px;
}

.container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    padding: 7% 15% 10%;
}

img {
    width: 100%;
}

.zone {
    cursor: pointer;
    justify-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.in-zone{
    padding: 5px 20px;
}
.zone:hover {
    transform: scale(1.1);

}

footer {
    text-align: center;
    padding: 0 15%;
    font-family: 'Poppins', sans-serif;}

.search-box{
    position: absolute;
    top: 13%;
    right: 15%;
    transform: translate(0%);
    background: #000000;
    height: 40px;
    border-radius: 40px;
    padding: 7px;

}
.search-box:hover> .search-txt{
    width: 210px;
    padding: 0 10px;
    top: 1.5%;
}
.search-box:hover > .search-btn{
   background: rgb(0, 0, 0);
     }
.search-btn{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}

@media screen and (max-width: 720px) {

    .logo{
        width: 160px;
        height: auto;
    }
}
@media screen and (max-width: 640px) {

    .search-box:hover> .search-txt{
        width: 180px;
    }
    
}
@media screen and (max-width: 600px) {

    .search-box:hover> .search-txt{
        width: 150px;
    }
    
}
@media screen and (max-width: 560px) {

    .search-box:hover> .search-txt{
        width: 120px;
    }
    
}

@media screen and (max-width: 520px) {

    .search-box:hover {
        left: 15%;
    }
}